body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: medium;
}

nav {
    border: 1px solid orangered;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.home-img {
    width: 200px;
    height: auto;
    border: 1px solid green;
}